
<div data-hook="admin_dish_type_form">
  <div class="col-md-8" data-hook="admin_dish_type_left">
    <div class = "col-md-12"  class="" data-hook="admin_dish_type_form_name">
      <%= f.field_container :body, class: ['form-group'] do %>
        <%= f.label :body, raw(Spree.t(:body) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_area :body,name: "comment[body]",rows: 4, class: 'form-control title' %>
        <%= f.error_message_on :body %>
      <% end %>
    </div>
    <div class='value col-md-4' >
      <%= f.field_container :rating, class: ['form-group'] do %>
        <%= f.label :rating, raw(Spree.t(:rating) + content_tag(:span, ' *', class: 'required')) %>
        <%= f.text_field :rating, name: "comment[rating]",type: "number", :step => "any" ,:min =>1, :max => 5,class: 'form-control title'%>
        <%= f.error_message_on :rating %>
      <% end %>
    </div> 
    <div class = "col-md-4" data-hook="admin_dish_type_form_is_active">
      <%= f.field_container :status, class: ['form-group'] do %>
        <%= f.label :status, raw(Spree.t(:status)) %>
        <%= select_tag "comment[status]",options_for_select([["PENDING", 0],["APPROVED", 1],["SPAM", 2],["TRASH", 3]],@status),:class => 'form-control '%>
      <% end %>
    </div>
  </div>

</div> <!--- end admin_product_form_fields-->
