<% s_or_b = type.id %>

<div id="<%= type %>" data-hook="address_fields">

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :tilte, raw(Spree.t(:tilte) + content_tag(:span, ' *', class: 'required')) %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :firstname, Spree.t(:first_name) %>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :lastname, Spree.t(:last_name) %>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>

   <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :phone, Spree.t(:phone) %>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :address1, Spree.t(:street_address) %>
    <%= f.text_field :address1, class: 'form-control' %>
  </div>

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :district, Spree.t(:district) %>
    <%= f.collection_select(:district, @district_list, :to_s, :to_s, { :include_blank => false }, { :class => 'select2 fullwidth', :required => false}) %>
  </div>

  <div class="form-group <%= "#{type}-row" %>">
    <%= f.label :state_id, Spree.t(:city) %>
    <br>
    <span id="<%= s_or_b %>state">
      <%= f.object.state.name%>
    </span>
  </div>

 
</div>

<% content_for :head do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('span#<%= s_or_b %>country .select2').on('change', function() { update_state('<%= s_or_b %>'); });
    });
  <% end %>
<% end %>

       
