<%= render :partial => 'spree/admin/users/sidebar', :locals => {:current =>:images}%>

<% content_for :page_title do %>
  <%= link_to Spree.t(:users), admin_users_url %>
  /  <%=@user.email %>
<% end %>

<%= form_for [@user, @user_image], url: admin_user_user_image_url, :html => { :multipart => true } do |f| %>
  <div data-hook="edit_image" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= @user_image.attachment_file_name%>
      </h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div data-hook="thumbnail" class="col-md-3 text-center">
          <%= f.label Spree.t(:thumbnail) %>
          <%= link_to image_tag(@user_image.attachment.url(:mini)), @user_image.attachment.url(:user) %>
        </div>
        <div class="col-md-9">
          <%= render partial: 'form', locals: { f: f } %>
        </div>

        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_user_url(@user), :id => 'cancel_link', :class => 'button' %>
        </div>
      </div>
    </div>
  </div>
 
<% end %>
