
<% content_for :page_title do %>
 <%= link_to Spree.t(:users), admin_users_url %>
  / <%=@user.email %>
<% end %>

<%= render :partial => 'spree/admin/users/sidebar', :locals => {:current => :images}%>
<div id="images" data-hook></div>

<% unless @user.images.any? %>
    <div class="no-objects-found">
    <%= Spree.t(:no_images_found) %>.
  <% if !@user.images.any? %>
    <%= button_link_to(Spree.t(:new_image), new_admin_user_user_image_url(@user), { class: "btn-success", icon: 'add', id: 'new_image_link' }) if can? :create, Spree::Image %>
    <% end %>
  </div><!--end div no-object-found -->
<% else %>
  <table data-hook="images_table"%>
    <thead>
      <tr data-hook="images_header">
        <th colspan="2"><%= Spree.t(:thumbnail) %></th>
        <th><%= Spree.t(:alt_text) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% (@user.images).each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row" class="<%= cycle('odd', 'even')%>">
          <td class="no-border">
          </td>
          <td class="align-center">
            <%= link_to image_tag(image.attachment.url(:mini)), image.attachment.url(:normal) %>
          </td>

          <td><%= image.alt %></td>
          <td class="actions">
            <%= link_to_with_icon 'edit', Spree.t(:edit), edit_admin_user_user_image_url(@user, image), :no_text => true, :data => {:action => 'edit'} %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>